.donartitulo {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}


.card {
    margin: 0px 20px 30px;
    &__price{
        color: white;
        font-weight: bold;
    }
  }
  
  .donarcontenedor {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
}

.tarjetasbootstrap {
  margin: 16px 0px;
}

.cuerpotarjeta {
    background-color: #0094db;
    overflow: hidden;
    width: 18rem;
    &__contenido {
        transform: translateY(60%);
        transition: 500ms;
        align-items: center;
        color: white;
        // border: 1px solid white;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        padding-top: 0;
    &--titulo{
        position: relative;
        width: max-content;
        &::after {
            content: "";
            position: absolute;
            background-color: white;
            width: 100%;
            height: 3px;
            bottom: 0;
            left: -78%;
            opacity: 0;
            transition: 500ms;
            transition-delay: 200ms;
            transition-property: left, opacity;
        }
    }
        
    }
}

.cuerpotarjeta .cuerpotarjeta__contenido > *:not(.cuerpotarjeta__contenido--titulo) {
    opacity: 0;
    transition: 500ms ease;
    transition-delay: 200ms;
    transition-property: opacity;
}

.cuerpotarjeta:hover .cuerpotarjeta__contenido > *:not(.cuerpotarjeta__contenido--titulo) {
    opacity: 1;

}

.cuerpotarjeta:hover .cuerpotarjeta__contenido {
    transform: translateY(0);

}

.cuerpotarjeta:hover .cuerpotarjeta__contenido--titulo::after {
    opacity: 1;
    left: 0;

}

.cuerpotarjeta__contenido a{
    border: 1px solid white;
    color: white;
    &:hover {
        color: rgba(24, 21, 21, 0.7);
        border: 1px solid rgba(24, 21, 21, 0.7);
    }
}

.transfcontainer {
    color: $txtcolwhite;
    max-width: 945px;
    background-color: #2a3a4b;    
    padding: 50px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &__titulo {
        border-bottom: 1px solid white;
        max-width: max-content;
    }
    &__lista{
        list-style: none;
        padding: 0px;
        & li {
            padding-bottom: 20px;
        }
    }
    &__subtitulo {
        max-width: max-content;
        border-bottom: 1px solid white;
    }
}
