* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Rubik', sans-serif;
  }
  
  body {
    position: relative;
  
    /* min-height: 100vh; */
    /* padding-top: 60px; */
  
    background-color: $bgcolor-primary;
  }

