@media screen and (max-width: 1025px) {
    .quienessomos__contenedor {
      margin: 50px 50px 50px;
      
  }
  
    
  }
  
  @media screen and (max-width: 901px) {
    .donarcontentedor__contenedortarjeta {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      margin-top: 0px;
    }
    .donarcontenedor__tarjeta {
      margin: 20px 0px;
    
    }
    
    .donarcontentedor__fondo {
      margin: 0px 100px;
      background-color: transparent;
    }
    
    .donarcontenedor__mercadopago {
      height: 100px;
    }
  
    /* Contacto start */
  
    .formulario__seccion1 {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .formulario__wrap{
      margin: 60px 20px;
      background-image: url('https://picsum.photos/seed/picsum/524/600');
      background-repeat: no-repeat;
      box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
      background-size: cover;
  
    }
  
    .formulario__contenedor {
      width: 100%;
      text-align: center;
    }
  
    
    .formulario__whitebox{
      margin: 0px 10px 0 0;
    }
  
    .imagenfondocontacto {
      display: none;
    }
  
  
 
  
  .imagecontainer {
    display: none!important;
  }
  
  .formulario__campos {
    width: 100% !important;
  }
  }
  
  @media screen and (max-width: 601px) {
    
    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative
    }
  
    /* Header start */
    .menuinicio__links {
      display: none;
    }
    
    .menuinicio__closeicon {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 35px;
      margin-right: 15px;
    }
  
    .menuinicio {
      display: none;
    }
  
    .navbar {
      display: block;
      background-color: rgb(25, 25, 25) !important;
    }
  
   
  /* header End */
  
  /* Index start */
  
  
    .imagenfondo {
      background-position: center;
    }
    
    .imagenfondo__titulo {
      /* width: 100%; */
      font-size: 30px !important;
    }
  
    .imagenfondo__texto {
      width: 100%;
      padding: 0 10px;
    }
  
    .imagenfondocontacto {
      display: none;
    }
  
  /* Index End */
  
  
  
  /* Footer Start */
  
  .informacionfooter {
      flex-direction: column;
    }
  
  .informacionfooter_logo {
      margin: 20px 0px;
    }
    
  .informacionfooter__redes{
      justify-content: center;
    }
  
  footer {
      position: relative;
    }
  
  /* Footer End */
  
    /* Quienes somos start */
  .quienessomos {
    padding: 20px;
    height: 100%;
  }
  
  .quienessomos__contenedor {
    max-width: 100%;
    height: 100%;
    display: inline;
    text-align: center;
    max-height: 100%;
    margin: 0;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: space-around;
  } 
  /* Quienes somos end */
  
  /* grid galeria start */
  
  }